*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(182, 108, 232);
}
.login{
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}
.login h1{
    font-size: 36px;
    margin-bottom: 25px;
}
.login form{
    font-size: 20px;
}
.login form .form-group{
    margin-bottom: 12px;
}
.login form input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;
}
.btn{
    background: rgb(130, 255, 81);
    color: white;
}
.done{
    background: rgb(99, 255, 99);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.done h1{
    margin-top: 10px;
}
